@media (max-width: 1020px) {
    .desktop-nav{
        display: none !important;
    }

    .mobile-nav{
        
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

    .desktop-ul{
        display: none !important;
    }
    .mobile-ul{
        display: flex !important;
    }

    header{
        position:relative;
        background-color: rgb(104, 130, 54) !important;
    }

    .step{
        max-width: 400px;
        margin: 0 auto;
        justify-items: center;
        margin-top:30px;
    }

    .steps{
        justify-content: center;
        flex-direction:column;
    }
}

@media (max-width: 630px){

    .my-startup-text-field{
        text-align: start;
        flex-direction: column;
    }

    .my-startup-card{
        width: 90%;
    }
}

@media (max-width: 670px){
    footer{
        flex-direction: column;
        margin:0;
        text-align: center !important;
    }

    footer p{
        margin: 0;
    }

    /* .info-note {
        padding: 0;
    } */
}

@media (max-width: 641px){
    .form-row{
        display: flex;
        flex-direction: column;
    }
}

@media (min-width: 1000px){
    .reg-form-container{
        font-size: 30px
    }
}

@media (max-width: 550px){
    .filters-container{
        flex-direction: column !important;
        width: 50%;
    }

    .slogan{
        visibility: none !important;
    }

    .footer__countries {
        flex-direction: column;
      }

    .bottomNav__listsWrap {
        align-items: center;
        flex-direction: column;
      }

    .bottomNav__list {
        align-items: center;
      }

    .bottomNav__listItem{
        text-align: center;
    }
}
