.motivation-paragraph {
  margin: 40px auto;
  padding: 15px;
  color: rgb(104, 130, 54);
  text-align: center;
}

.motivation-paragraph h1 {
  font-size: 30px;
  margin-bottom: 10px;
}

.motivation-paragraph p {
  font-size: 22px;
}

.steps {
  margin: 40px;
  min-width: 220px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  padding: 40px auto;
}

.step {
  padding: 10px;
  border-radius: 17px;
  background-color: rgba(103, 130, 54, 0.199);
  max-width: 300px;
  text-align: center;
}

.step h2 {
  color: rgb(104, 130, 54);
}

.reg-form-container {
  min-width: 220px;
  color: rgb(104, 130, 54);
  width: 70%;
  font-size: 25px;
  display: block;
  max-width: 800px;
  margin: 80px auto;
  padding: 20px 5%;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: start;
}

.form-input,
#form-select select {
  padding: 0 15px;
  width: 200px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 5px;
}

#companyName,
#industry,
#countEmployee,
#revenue,
#expenses,
#markets,
#offices {
  border-radius: 5px;
  border: 0.5px solid black;
}

.reg-title {
  font-size: 25px;
  color: rgb(104, 130, 54);
  display: flex;
  text-align: center;
  justify-content: center;
}

.form-content {
  padding-top: 30px;
  justify-content: space-between;
}

.form-row {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.save {
  justify-content: center;
  display: flex;
  padding: 15px;
  padding-top: 50px;
  text-align: center;
}

.save button {
  color: #ffffff;
  font-size: 25px;
  background-color: rgb(104, 130, 54);
  border: 0.15px solid rgba(255, 255, 255, 0.801);
  border-radius: 17px;
  height: 65px;
  width: 90%;
  max-width: 400px;
}

.save button:hover {
  background-color: rgb(79, 102, 34);
}

.my-startup-container {
  padding: 20px 0px;
  margin: 0 auto;
  width: 100%;
  display: none;
  flex-direction: column;
  gap: 30px;
}

.my-startup-card {
  max-width: 800px;
  padding: 20px 5%;
  margin: 20px auto;
  min-width: 220px;
  width: 70%;
  display: block;
  background: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.2);
  transition: all 0.5s ease;
  text-align: start;
}

.my-startup-card:hover {
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.my-startup-name {
  color: rgb(104, 130, 54);
  padding-bottom: 30px;
  font-size: 45px;
  text-align: center;
}

.my-startup-text-field {
  gap: 12px;
  padding-left: 5%;
  display: flex;
  padding-top: 30px;
  font-size: 25px;
  color: rgb(0, 0, 0);
}

.my-startup-text-field .tittle {
  color: rgb(104, 130, 54);
}

.my-startup-income {
  color: #387e27;
}

.my-startup-outcome {
  color: #7e2727;
}

#startup-details {
  text-align: center;
  margin-top: 20px;
}

.slider-container {
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5%;
  font-size: 25px;
  text-align: center;
  flex-direction: column;
  display: flex;
}

.slider-container input {
  accent-color: rgb(104, 130, 54);
  margin: 0 auto;
  width: 100%;
}

.slider-container span {
  font-weight: bold;
  font-size: 16px;
}

.button-wrapper {
  justify-content: center;
  display: flex;
  padding: 15px;
  padding-top: 90px;
  text-align: center;
}

.modeling-button {
  color: #ffffff;
  font-size: 25px;
  background-color: rgb(104, 130, 54);
  border: 0.15px solid rgba(255, 255, 255, 0.801);
  border-radius: 17px;
  height: 65px;
  width: 90%;
  max-width: 400px;
}

.modeling-button:hover {
  background-color: rgb(79, 102, 34);
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 8px 12px;
  border-radius: 8px;
  font-size: 14px;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease;
  transform: translateY(64px);
  white-space: nowrap;
  z-index: 10;
}

.table {
  width: 70%;
  align-items: center;
  margin: 20px auto;
  width: 100%;
}

#competitor-investor-table {
  border-radius: 17px;
  min-width: 220px;
  max-width: 800px;
  width: 70%;
  margin: 0 auto;
  border-collapse: collapse;
}

#competitor-investor-table th,
#competitor-investor-table td {
  font-weight: 500;
  background-color: #ffffff;
  font-size: 25px;
  border: 1px solid #ddd;
  padding: 10px 5%;
  text-align: left;
}

#competitor-investor-table th {
  color: rgb(104, 130, 54);
  width: 50%;
  text-align: center;
}

.info-note {
  padding: 80px 170px;
  background-color: rgb(104, 130, 54);
  width: 100%;
  background-image: url("./map2.png");
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  color: #ffffff;
  font-size: 20px;

  min-width: 160px;
  margin: 0 auto;
  margin-top: 50px;
  padding: 5%;
  text-align: center;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

.info-note strong {
  color: #cdcdcd;
}

.info-note a {
  text-decoration: none;
}

.info-note strong:hover {
  color: rgb(255, 255, 255);
}
