.market-title, section {
    padding: 40px 20px;
}

.market-title {
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: #2d6cdf;
    border-radius: 50px;
    color: white;
    text-align: center;
}

main h2 {
    color: #2d6cdf;
}

.analys-container{
    justify-content: space-around;
    flex-direction: column;
    display: inline-flexbox;
}

.trends, .opportunities, .market-analysis {
    background-color: white;
    margin: 75px auto;
    max-width: 85%;
    border-radius: 10px;
    padding: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
  }

  .progress-bar {
    background-color: #e0e0e0;
    border-radius: 20px;
    overflow: hidden;
    margin: 10px 0;
  }

  .progress {
    height: 24px;
    line-height: 24px;
    padding-left: 10px;
    color: white;
    font-weight: bold;
  }

  .it { width: 45%; background-color: #4caf50; }
  .healthcare { width: 30%; background-color: #2196f3; }
  .education { width: 10%; background-color: #ff9800; }
  .finance { width: 15%; background-color: #9c27b0; }

  ul {
    padding-left: 20px;
  }




.trends-and-opportunities{
    margin-left: 28px;
    margin-top: 90px;
    display: block;
    text-align: start;
}

.trend-title{
    font-size: 45px;
    margin-bottom: 20px;
}

.trend, .opportunities{
    margin-top: 15px;
    font-size: 20px;
}

.opportunities-tittle{
    color: #4f3775;
    margin-top: 15px;
    font-size: 25px;
}

.market-container{
    width: 100%;
    display:grid;
    padding-top: 100px;
    grid-template-columns: repeat(auto-fill, minmax(300px, 2fr));
    gap: 30px;
}

.market-card{
    display: block;
    background: white;
    border-radius: 13px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    /* transition: transform 0.5s ease, box-shadow 0.3s ease; */
    transition: all 0.5s ease;
    text-align: start;
}

.market-card:hover{
    background: rgb(207, 219, 240);
    border-radius: 25px;
    transform: translateY(-15px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.market-card-text{
    margin: 10px;
}

.market-company-name{
    font-size: 35px;
    color: rgb(45, 108, 223);
}

.market-spheare{
    margin-top: 5px;
 }
 .company-size, .market-zbyt, .finance-score{
     margin-top: 15px;
 }